/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.button-primary, .button-secondary {
  min-width: 120px;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  border: none;
  letter-spacing: 1.3px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    opacity: 0.9;
  }

  &:disabled {
    opacity: 0.6;
    cursor: default;
  }
}

.button-primary {
  color: white;
  background: lightseagreen;
}

.button-secondary {
  color: lightseagreen;
  background: white;
}